

/************************************************************************************/
/*	Component Default Style 														*/
/************************************************************************************/

.MyButton-Style
{
	cursor:pointer;
}

/*	
	이곳에 MyComp 의 기본적인 스타일을 정의하십시요.
	아래 두값은 제거하지 마십시요.
	position: absolute;
	box-sizing: border-box;
*/
.MyComp-Style
{
	position: absolute;
	box-sizing: border-box;
}
